[credential]
	helper = osxkeychain
[user]
	name = bergmul
	email = ulrich.bergmann@gmail.com
	[alias]
	clone-branches = "! git branch -a | sed -n \"/\\/HEAD /d; /\\/master$/d; /remotes/p;\" | xargs -L1 git checkout -t"
[core]
	editor = nano
[pull]
	rebase = true
